<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><i class="fa fa-phone" aria-hidden="true"></i> Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<h2>Corporate Headquater</h2>
<p style="text-align: center;">
	<span>Eckerds Pharmacy.</span>
	<span>5139 Manatee Ave West</span>
	<span>Bradenton FL 34209</span>
	<span>Phone: 185555535355</span>
	<span>Email: abcd@gmail.om</span>
	<span>Web: www.myEckerds.com</span>
</p>

<ion-card>
	<ion-card-content>
  	<h1 style="font-weight: bolder;"><i class="fa fa-user-md" aria-hidden="true">Wauchula</i> </h1>

  	<h6 style="font-weight: bolder; padding-top: 10px">Eckerds Pharmacy #101</h6>
    <p> <span>518 South 6th Avenue</span>
    	<span>Wauchula FL 33873</span>
    	<span> </span>
    	<span></span>
	</p>
	<p style="margin-top: 20px">
		<span>Phone: 84348484448</span>
		<span>Fax: 854983889</span>
		<span>Toll Free: 498948494</span>
		<span>Email: a@gmail.com</span>
		
	</p>
  </ion-card-content>
</ion-card>

<ion-card>
	<ion-card-content>
  	<h1 style="font-weight: bolder;"><i class="fa fa-user-md" aria-hidden="true">Palmetto</i> </h1>

  	<h6 style="font-weight: bolder; padding-top: 10px">Eckerds Pharmacy #101</h6>
    <p> <span>518 South 6th Avenue</span>
    	<span>Wauchula FL 33873</span>
    	<span> </span>
    	<span></span>
	</p>
	<p style="margin-top: 20px">
		<span>Phone: 84348484448</span>
		<span>Fax: 854983889</span>
		<span>Toll Free: 498948494</span>
		<span>Email: a@gmail.com</span>
		
	</p>
  </ion-card-content>
</ion-card>

<div class="vl">
<ion-card>
	<ion-card-content>
  	<h1 style="font-weight: bolder;"><i class="fa fa-user-md" aria-hidden="true">Bradenton</i> </h1>

  	<h6 style="font-weight: bolder; padding-top: 10px">Eckerds Pharmacy #101</h6>
    <p> <span>518 South 6th Avenue</span>
    	<span>Wauchula FL 33873</span>
    	<span> </span>
    	<span></span>
	</p>
	<p style="margin-top: 20px">
		<span>Phone: 84348484448</span>
		<span>Fax: 854983889</span>
		<span>Toll Free: 498948494</span>
		<span>Email: a@gmail.com</span>
		
	</p>
  </ion-card-content>
</ion-card>
</div>

<div class="vl">
<ion-card>
	<ion-card-content>
  	<h1 style="font-weight: bolder;"><i class="fa fa-user-md" aria-hidden="true">Apollo Beach</i> </h1>

  	<h6 style="font-weight: bolder; padding-top: 10px">Eckerds Pharmacy #101</h6>
    <p> <span>518 South 6th Avenue</span>
    	<span>Wauchula FL 33873</span>
    	<span> </span>
    	<span></span>
	</p>
	<p style="margin-top: 20px">
		<span>Phone: 84348484448</span>
		<span>Fax: 854983889</span>
		<span>Toll Free: 498948494</span>
		<span>Email: a@gmail.com</span>
		
	</p>
  </ion-card-content>
</ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>