<ion-header>
  <ion-toolbar>
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="arrow-round-forward"></ion-icon>Locations</ion-title>
  </ion-toolbar>
</ion-header>
		
<ion-content>
    <div cards>

    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div> 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>
