<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><i class="fa fa-briefcase"></i> Career</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<img src="../assets/career1.jpeg">

	<div class="heading">
	<i class="fa fa-briefcase"></i> Career with Eckerds
	</div>

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</p>

	<p>
	Keep close to Nature's heart... 
	</p>

	<ion-icon name="arrow-round-forward"></ion-icon>Registerd Pharmacist

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. 
	</p>

	<ion-icon name="arrow-round-forward"></ion-icon>Registerd Pharmacist

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. 
	</p>

	<ion-icon name="arrow-round-forward"></ion-icon>Registerd Pharmacist

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. 
	</p>

	<ion-icon name="arrow-round-forward"></ion-icon>Registerd Pharmacist

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. 
	</p>

	<ion-icon name="arrow-round-forward"></ion-icon>Registerd Pharmacist

	<p>
	Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. 
	</p>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>