<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="float: left;"><i class="fa fa-book" aria-hidden="true"></i> Company Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>About Us</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  	<img src="../assets/about1.jpeg" style="float: left;" width="20px" height="60px">

    <p class="infoContent"> Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</p>
   <a href="../about" (click)="spinner">Read More</a>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Career with Eckerds</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  	<img src="../assets/career.jpeg" style="float: left;" width="20px" height="60px">

    <p class="infoContent"> Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</p>
   <a href="../career">Read More</a>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Franchise Opportunities</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  	<img src="../assets/about2.jpeg" style="float: left;" width="20px" height="60px">

    <p class="infoContent"> Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</p>
   <a href="../franchise">Read More</a>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Locations</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  	<img src="../assets/about1.jpeg" style="float: left;" width="20px" height="60px">

    <p class="infoContent">
      <span>Eckerds Pharmacy has its branches in 4 differet locations.</span>
      <span>1. Wauchula</span>
      <span>2. Palmetto</span>
      <span>3. Bradenton</span>
      <span>4. Apollo Beach</span>
      <span>...</span>
	</p>

  <a href="../location">Read More</a>



  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Speciality Compounding</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  	<img src="../assets/about1.jpeg" style="float: left;" width="20px" height="60px">

    <p class="infoContent"> Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</p>
   <a href="../speciality">Read More</a>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>
