<ion-header>
  <ion-toolbar style="background-color: pink"> 
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <div class="header">
    <ion-title >
      <img src="../assets/logoCrop.png" height="30px" width="50px" style="float: left; margin-top: 10px;">
      <p> Eckerds Pharmacy</p>
    </ion-title>
  </div>
  </ion-toolbar>

  <ion-toolbar>
    <h4>Select Your Location</h4>
  </ion-toolbar>

</ion-header>

<ion-content> 
    <div cards>
    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><img src="../assets/logoCrop.png"></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p class="titleClass"> Wauchula</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div> 

<ion-card class="companyInfo">
    <i class="fa fa-book" aria-hidden="true" ></i><a href="../company-info">  Company Information</a> 
</ion-card>
      
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>
