<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Speciality Compunding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<img src="../assets/laboratory.jpeg">

	<i class="fa fa-bookmark" aria-hidden="true" style="margin: 20px;"> Specialty Compounding</i> 

	<p> Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>

<table>
  <tr>
    <th>We provide compounded alternatives in following categories</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
  </tr>
  <tr>
    <td>Island Trading</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>
</table>

<p> Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>

<p>Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>

<p>Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>

<table>
  <tr>
    <th>We provide compounded alternatives in following categories</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
  </tr>
  <tr>
    <td>Island Trading</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
  </tr>

</table>
	<img src="../assets/laboratory.jpeg" style="margin-top: 10px;">
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"><img src="../assets/logoCrop.png" height="30px" width="60px"></ion-title>
  </ion-toolbar>
</ion-footer>
