table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #d2dae0;
}

.headerColor{
    background-color:#f7daf0;
}

p{
	font-size:13px
}